{% macro render_pagination(pagination) %}
  <nav>
    <ul class="pager">
      <li class="previous">
      {% if pagination.has_prev %}
        <a href="{{ pagination.prev|url }}"><span aria-hidden="true">&larr;</span> Previous post</a>
      {% else %}
        <span class="disabled"><span aria-hidden="true">&larr;</span> Previous post</span>
      {% endif %}
      </li>
      | {{ pagination.page }} |
      <li class="next">
      {% if pagination.has_next %}
        <a href="{{ pagination.next|url }}">Next post<span aria-hidden="true">&rarr;</span></a>
      {% else %}
        <span class="disabled">Next post<span aria-hidden="true">&rarr;</span></span>
      {% endif %}
      </li>
    </ul>
  </nav>
{% endmacro %}
